.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  outline: unset;
  border: unset;
  background-color: unset;

  font-family: inherit;

  cursor: pointer;

  &-primary {
    background-color: var(--primary);
    color: var(--light);
  }

  &-primary-outline {
    border: 1px solid var(--primary);

    background-color: transparent;
    color: var(--primary);
  }

  // 登入、註冊大按鈕
  &-form-submit {
    width: 100%;
    height: 50px;
    border-radius: 50px;

    font-size: 18px;
    font-weight: bold;
  }

  // settings頁儲存按鈕
  &-form-save {
    width: 122px;
    height: 50px;
    border-radius: 50px;

    font-size: 18px;
    font-weight: bold;
  }

  // 左側導覽新增推文按鈕
  // 由外容器限制按鈕寬度
  &-left-nav-new-tweet {
    width: 100%;
    padding: 14px 0;
    border-radius: 40px;

    font-size: 18px;
    font-weight: medium;
  }

  // 新增推文按鈕（含modal）、回覆推文按鈕（modal）
  &-new-tweet {
    padding: 11px 14px;
    border-radius: 40px;

    font-size: 18px;
    font-weight: medium;
  }

  // 熱門帳號、<@userAccount>/following、<@userAccount>/followers
  &-follow {
    padding: 8px 16px;
    border-radius: 99px;

    font-size: 15px;
    font-weight: bold;
  }

  // portfolio頁面背景板右下方編輯或追蹤按鈕
  &-portfolio-action {
    padding: 12px 16px;
    border-radius: 99px;

    font-size: 15px;
    font-weight: bold;
  }

  // 編輯個人資料modal儲存按鈕
  &-portfolio-save {
    padding: 6px 14px;
    border-radius: 99px;

    font-size: 15px;
    font-weight: bold;
  }

  // navTopArrow的箭頭按鈕
  &-arrow {
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  // 新增推文按鈕，手機與平板
  &-round {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}