.container-message {
  height: calc(100vh - 55px - 55px - 55px) !important;

  display: flex;
  flex-direction: column;

  scroll-behavior: smooth;

  .chat-display {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .user-online-badge {
      span {
        padding: 7px 14px;
        
        border-radius: 99px;
        background-color: var(--bg-user-online-badge);

        font-size: 15px;
        font-weight: 500;
        color: var(--text);
      }
    }

    .chat-message {
      display: flex;
      align-items: flex-end;

      img {
        flex-shrink: 0; 
      }

      .message-container {
        flex: 0 1 auto;
        max-width: 75%;
      }

      .message {
        padding: 10px 15px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        
        &-other {
          border-radius: 25px 25px 25px 0px;

          background-color: var(--horizon-border);
          color: var(--text-mid-dark);
        }

        &-self {
          border-radius: 25px 25px 0px 25px;

          background-color: var(--primary);
          color: var(--light);
        }
      }

      .timeStamp {
        font-size: 13px;
        font-weight: 400;
        color: var(--text);
      }
    }
  }

  .chat-send {
    position: fixed;
    bottom: 55px;
    left: 0;
    right: 0;

    height: 55px;
    display: flex;

    border-top: 1px solid var(--horizon-border);
    background-color: var(--light);

    input {
      flex: 1;
      
      outline: none;
      border: none;
      border-radius: 99px;

      font-family: inherit;
      font-weight: 400;
      color: var(--text);
      
      text-indent: 15px;
      background-color: var(--horizon-border);
    }
  }
}

.router-link-active.chat-user {
  filter: none !important;
}

.chat-user {
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--horizon-border);

  &-account {
    width: 12vw;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 15px;

    span:first-child {
      font-weight: 700;
      color: var(--text-mid-dark);
    }

    span:nth-child(2) {
      font-weight: 500;
      color: var(--text);
    }

    .last-message {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      font-weight: 500;
      line-height: 22px;
      color: var(--text);
    }
  }

  .last-update {
    position: absolute;
    right: 15px;
    top: 10px;

    font-weight: 500;
    color: var(--text);
  }
}

@media screen and (min-width: 768px) {
  .container-message {
    height: calc(100vh - 55px - 55px) !important;

    .chat-send {
      bottom: 0;
    }
  }
}