:root {
  --primary: #FF6600;
  --anchor: #0099FF;
  --like: #E0245E;
  --hover-focus: #50B5FF;
  --error: #FC5A5A;

  --dark: #000;
  --light: #fff;
  
  --text: #657786;
  --text-mid-dark: #1C1C1C;

  --placeholder: #9197A3;
  --img-placeholder: #C4C4C4;

  --horizon-border: #E6ECF0;
  --reply-vertical-border: #CCD6DD;

  --bg-blue-light: #F5F8FA;
  --bg-light: #F6F7F8;
  --bg-modal-bg: rgba(0, 0, 0, 0.4);
}