.popular-list {
  width: clamp(200px, 80%, 350px);

  margin-top: 15px;
  margin-left: 30px;

  &-title {
    padding: 10px 15px;

    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom: 1px solid var(--horizon-border);
    background-color: var(--bg-blue-light);

    font-size: 18px;
    font-weight: bold;
    color: var(--text-mid-dark);
  }

  &-user {
    position: relative;
    height: 70px;

    display: flex;
    align-items: center;

    background-color: var(--bg-blue-light);
    border-bottom: 1px solid var(--horizon-border);

    a {
      // 在popularList中取消.router-link-active的上色效果
      filter: none !important;
    }

    &-info {
      font-size: 15px;
      font-weight: bold;

      .user-name {
        // 在popularList中取消.router-link-active的上色效果
        color: var(--text-mid-dark) !important;
      }

      .user-account {
        color: var(--text);
      }
    }

    &-follow {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;

      border: none;
    }
  }
}