.tweet-tab {
  height: 54px;
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--horizon-border);

  li {
    width: clamp(70px, 27%, 130px);
    height: 100%;

    font-size: clamp(12px, 5vw, 15px);
    font-weight: 700;
  }

  a {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: var(--text);
  }

  // 取消main.scss中的active樣式
  .router-link-active {
    color: var(--text);
    filter: unset;
  }

  .router-link-exact-active {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
  }
}