.user {
  display: flex;
  height: 94px;

  &:not(:last-child) {
    border-bottom: 1px solid var(--horizon-border);
  }

  .user-content {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .titles-container {
        .user-name {
          font-size: 15px;
          font-weight: 700;
          color: var(--text-mid-dark);
        }
        
        .user-account {
          font-size: 15px;
          font-weight: 500;
          color: var(--text);
        }
      }
    }

    .description {
      font-size: 15px;
      font-weight: 500;
      color: var(--text-mid-dark);
    }
  }
}