.text-primary {
  color: var(--primary);
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.avatar-img {
  position: relative;
  width: 50px;
  height: 50px;
  display: block;

  object-fit: cover;
  border-radius: 50%;

  // 隱藏user agent的破圖提示
  text-indent: -9999px;
  overflow: hidden;

  &::before {
    content: '';
    top: 0;
    left: 0;

    width: 50px;
    height: 50px;
    display: block;

    border-radius: 50%;
    background-color: var(--img-placeholder);
  }
}

.mt-6 {
  margin-top: 6px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-13 {
  margin-top: 13px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-50 {
  margin-right: 50px;
}

.ml-15 {
  margin-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}