@import 'reset';
@import 'colors';
@import 'utils';

@import 'sweetAlert2';
@import 'componentTransition';

@import 'buttons';
@import 'links';
@import 'navTop';
@import 'navBottom';
@import 'form';
@import 'navLeft';
@import 'addNewTweet';
@import 'tweet';
@import 'modals';
@import 'userProfile';
@import 'tweetTab';
@import 'popularList';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

* {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--horizon-border);
    opacity: 0;
  }
}

#app {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: var(--light);
}

.container-body {
  margin-top: 55px;
  margin-bottom: 60px;

  height: calc(100vh - 55px - 60px);
  overflow-y: auto;
}

// /register、/login與/admin/login表單的容器
.container-form {
  width: 100%;
  padding: 0 5%;
}

.router-link-active {
  // filter to color #FF6600
  filter: invert(47%) sepia(33%) saturate(5844%) hue-rotate(1deg) brightness(104%) contrast(105%);
  color: var(--primary);
}

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: clamp(72px, 15vw, 240px) 1fr clamp(72px, 15vw, 240px);
  }

  // 平板以上僅需扣除navTop的高度
  .container-body {
    margin-bottom: 0;
    height: calc(100vh - 55px);
  }

  .container-body-tablet-desktop {
    perspective: 999999px;
    border-left: 1px solid var(--horizon-border);
    border-right: 1px solid var(--horizon-border);
  }

  // /settings, /admin/tweets, /admin/users 合併中右側grid
  .container-body-column-merge {
    perspective: 999999px;
    grid-column: 2 / 4;
  }

  .container-form {
    width: 540px;
    margin: 0 auto;
    padding: unset;
  }

  // /settings表單的容器
  .container-setting-form {
    width: clamp(300px, 80%, 642px);
    margin-top: 30px;
    margin-left: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 50vw 1.5fr;
  }
}