@import 'reset';
@import 'colors';

@import 'sweetAlert2';
@import 'componentTransition';

@import 'buttons';
@import 'navTop';
@import 'navBottom';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

html,
body {
  height: 100%;
}

html {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--horizon-border);
    opacity: 0;
  }
}

#app {
  height: 100%;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: var(--light);
}

.container-body {
  margin-top: 55px;
  margin-bottom: 60px;

  overflow-y: auto;
}

.router-link-exact-active {
  // filter to color #FF6600
  filter: invert(47%) sepia(33%) saturate(5844%) hue-rotate(1deg) brightness(104%) contrast(105%);
}

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: clamp(72px, 15vw, 240px) 1fr clamp(72px, 15vw, 240px);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 50vw 1.5fr;
  }
}