@import 'reset';
@import 'colors';

@import 'sweetAlert2';
@import 'componentTransition';

@import 'buttons';
@import 'navTop';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');

html,
body {
  height: 100%;
}

html {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--horizon-border);
    opacity: 0;
  }
}

#app {
  height: 100%;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: var(--light);
}

.container {
  display: grid;
  grid-template-rows: 55px calc(100vh - 55px - 60px) 60px;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-rows: 100vh;
    grid-template-columns: clamp(72px, 15vw, 240px) 1fr clamp(72px, 15vw, 240px);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: 1fr 50vw 1.5fr;
  }
}